header ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: rgb(0, 180, 18);
    transition: width 0.4s ease, left 0.4s ease;
    
}

header ul li a:hover {
    color: rgb(0, 180, 18);
    text-decoration: none;
}
.logo a:hover {
    color: rgb(0, 180, 18);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 251, 251, 0.2);
      
}
a :hover {
    color:  rgb(0, 180, 18);
}
.nome {
    text-decoration: none;
    color: #fff;
}
.nome:hover {
    color: rgb(0, 180, 18);
}
.fundo {
    background-color: #e5e5e5c8;
}