.container {
    background-color:  rgba(0, 10, 38, 0.373);
    justify-content: space-around;
    height: 70vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(103, 103, 251, 0.327);
    z-index: 1;
  }
.fundo{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../img/home_principal.jpg);
}

.contact-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px; 
}

.contact-icons .icone {
    font-size: 70px; 
    color: #b0b0b0; 
    text-decoration: none;
    transition:  0.3s;
    border-radius: 50%;

}

.contact-icons .icone:hover {
    transform: translateY(-5px); 
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3); 
}

.contact-icons i {
    padding: 25px;
    border-radius: 50%;
    background-color: #00263b; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.contact-item span {
    color: #b0b0b0;
    font-weight: bold;
}

.contact-icons .icone.phone i,
.contact-icons .icone.whatsapp i,
.contact-icons .icone.instagram i {
    background-color: rgb(4, 23, 46); 
}

.parallax_principal {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.parallax_principal::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.66) 0%, rgba(0, 0, 0, 0.54) 100%);
    z-index: 0;
}
.parallax1 {
    background-image: url(../praias/areiavermelha.jpg);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: rgb(0, 229, 255);
    transition: width 0.4s ease, left 0.4s ease;
    
}

header ul li a:hover {
    color: rgb(0, 229, 255);
    text-decoration: none;
}
.logo a:hover {
    color: rgb(0, 229, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 251, 251, 0.2);
      
}
a :hover {
    color:  rgb(0, 229, 255);
}
.nome {
    text-decoration: none;
    color: #fff;
}
.nome:hover {
    color: rgb(0, 229, 255);
}