body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-emphasis: center;
    /* background-image: linear-gradient( rgb(3, 56, 122), rgb(1, 16, 35)); */
    background-color: rgba(0, 0, 42, 0.108);
    background-image: url(../img/ceuestrelado.avif);
}

.praia-P{
    text-align: center;
    font-size: 30px;
    color: whitesmoke;
    padding: 20px;
}

.carousel-item img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-control-prev {
    left: 0;
}

.carousel-control-next {
    right: 0;
}
header ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 2px;
    background: rgb(0, 229, 255);
    transition: width 0.4s ease, left 0.4s ease;
    
}

header ul li a:hover {
    color: rgb(0, 229, 255);
    text-decoration: none;
}
.logo a:hover {
    color: rgb(0, 229, 255);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 251, 251, 0.2);
      
}