body {
  overflow-x: hidden;
}

.parallax_principal::after {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.516) 0%,
    rgba(0, 0, 0, 0.516) 100%
  );
}

.parallax-content {
  z-index: 1;
  color: white;
}

#servicos{
  display: grid;
  grid-template-rows: 80% 10% 10%;
  margin-top: 100px;
}
#servicos ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

#servicos li {
  color: #eeee;
  padding: 15px;
}

a, a:visited {
  color: #eeee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.botao {
  word-wrap: break-word;
  background: transparent;
}

.botao:hover {
  box-shadow: 0 8px 8px -6.4px;
  transform: translateY(-4px);
}

.destaque {
  color: white;
  padding-inline: 10%;
}

::-webkit-scrollbar{
  width: 8px;
  background-color: rgba(170, 170, 170, 0.926);
  /* background-color: rgb(0, 0, 230); */
  background: rgba(7, 12, 156, 0.25);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(3, 3, 158, 0.926);
  border-radius: 25prgb(203, 207, 206)
}
header ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(198, 159, 0);
  transition: width 0.4s ease, left 0.4s ease;
  
}

header ul li a:hover {
  color: rgb(198, 159, 0);
  text-decoration: none;
}
.logo a:hover {
  color: rgb(198, 159, 0);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 251, 251, 0.2);
    
}
