body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #075b9c;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.parallax_principal {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.parallax_principal::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.492) 100%);
  z-index: 0;
}
.parallax1 {
  background-image: url(../img/home_principal.jpg); 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


div img {
  margin-top: -46px;
}
.container {
  background-color:  rgba(240, 205, 134, 0.308);
  padding: 6px;
  width: 350px;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(254, 230, 182, 0.512);
  z-index: 1;
}

form {
  position: absolute;
  margin-top: 80px;
  transition: .5s;
  width: 300px;
  height: 400px;
}

.transicao{
  transition: color 0.8s ease;
}

.buttonsForm {
  margin-top: 40px;
  position: relative;
  border-radius: 30px;
  box-shadow: 0 0 7px 0 rgb(198, 158, 0);
}

.buttonsForm button {
  cursor: pointer;
  background: transparent;
  border: none;
  position: relative;
  padding: 10px 29px;
}

.branco{
  color: white;
}

.btnColor {
  position: absolute;
  width: 100px;
  height: 100%;
  background: linear-gradient(to right, rgba(139, 102, 0, 0.738), rgb(221, 159, 0));
  border-radius: 30px;
  transition: .3s;
  color: white;
}
#signin .olho{
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  left: 85%;
  top: 29%;
}

input[type="text"], input[type="password"] {
  border: none;
  margin-top: 40px;
  border-radius: 60px;
  padding: 8px 50px 8px 35px;
  outline: none;
  width: 100%;
  background-color: rgb(207, 207, 207);
}

button[type="submit"] {
  background: rgba(156, 112, 0, 0.699);
  color: white;
  border-radius: 30px;
  width: 100%;
  border: none;
  outline: none;
  padding: 8px 0 8px 15px;
  font-size: 15px;
  margin-top: 40px;
  cursor: pointer;
}

.divCheck {
  margin: 10px 0 0 5px;
  width: 80%;
  font-size: 13px;
}

#signin {
  left: 25px;
}

#signup {
  left: 450px;
}

i {
  position: absolute;
  left: 0;
  padding: 10px 10px;
}

.iEmail {
  top: 42px;
}

.iPassword {
  top: 121px;
}

.iPassword2 {
  top: 200px;
}

/*
#signin button[type="submit"]:disabled {
  background-color: #ccc;
  cursor: default;
}
*/

#message {
  margin-top: 10px;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  display: none;
}
.success {
  background-color: #bfebc9b4;
  color: #045116;
  border: 1px solid #004610;
}
.error {
  background-color: #ffbdc2a4;
  color: #721c24;
  border: 1px solid #faa2ab;
}

header ul li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background: rgb(198, 159, 0);
  transition: width 0.4s ease, left 0.4s ease;
  
}

header ul li a:hover {
  color: rgb(198, 159, 0);
  text-decoration: none;
}
.logo a:hover {
  color: rgb(198, 159, 0);
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), -3px -3px 5px rgba(255, 251, 251, 0.2);
    
}
